:root {
  --btn-color: #fff;
}

.main-title {
  font-family: California, sans-serif;
  opacity: 0.8;
  position: absolute;
  font-weight: bold;
  top: 15%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);

  font-size: calc(3rem + 9vw);
}

.enter-btn {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;

  overflow: hidden;
  cursor: pointer;

  transition: 0.1s ease-out;
}

.enter-btn:hover {
  transform: translate(calc(-50% - 5px), calc(-50% - 5px));
  box-shadow: 5px 5px 0 0 var(--btn-color);
}

.enter-btn:active {
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 0 var(--btn-color);
}

@keyframes fade-in-neon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes fade-out-neon {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
