@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@font-face {
  font-family: 'California';
  src: url('/assets/fonts/California.ttf') format('truetype');
}

@font-face {
  font-family: 'OSD_MONO';
  src: url('/assets/fonts/VCR_OSD_MONO.ttf') format('truetype');
}

@font-face {
  font-family: 'Alien-Encounters';
  src: url('/assets/fonts/Alien-Encounters.ttf') format('truetype');
}

@font-face {
  font-family: 'Rocket-Rinder';
  src: url('/assets/fonts/Rocket_Rinder.otf') format('truetype');
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #ff00fe;
  background: linear-gradient(
    0deg,
    #ff00fb 0%,
    #6b006b 50%,
    rgba(11, 10, 15, 1) 100%
  );
}

#canvas-container {
  height: 100vh;
  width: 100vw;
}

.font-neon {
  color: #f3d9f3;
  text-shadow:
    0 0 10px #ff00fe,
    0 0 20px #ff00fe,
    0 0 30px #ff00fe,
    0 0 40px #ff00fe,
    0 0 70px #ff00fe,
    0 0 80px #ff00fe,
    0 0 100px #ff00fe;
}

.zi-3 {
  z-index: 3;
}

.zi-4 {
  z-index: 4;
}

.zi-5 {
  z-index: 5;
}

.main-btn {
  border: 2px solid var(--btn-color);
  border-radius: 5px;

  padding-inline: calc(2rem + 3vw);
  padding-block: calc(0.5rem + 0.8vw);

  background-color: transparent;
  color: var(--btn-color);
  font-size: 20px;
  font-family: 'Alien-Encounters', sans-serif;
  font-weight: normal;
  letter-spacing: 6px;
  text-transform: uppercase;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
